:root {
  --toolbar-height: 3.5rem;
  --modal-draggable-drag-height: 2rem;
}

* {
  box-sizing: border-box;
}

html, body {
  position: absolute;
  inset: 0;
}

html {
  background: #000;
  color: #fff;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  touch-action: manipulation;
  user-select: none;
  overscroll-behavior: none;
  overflow-x: hidden;
}

body {
  margin: 0;
}

header,
h1,
h2,
h3,
ul,
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* header:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
ul:first-child,
p:first-child {
  margin-top: 0;
}
header:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
ul:last-child,
p:last-child {
  margin-bottom: 0;
} */

h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #ffd700;
  text-decoration: none;
}

/* main { */
  /* position: relative; */
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100vh; */
  /* overflow: auto; */
  /* scroll-snap-type: y mandatory; */
/* } */

/* PAGE */
.page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  scroll-snap-align: start;
}
.page--fixed {
  position: fixed;
}

/* SCROLL */
.scroll {
  overflow: auto;
  scroll-snap-type: y mandatory;
  overscroll-behavior: contain;
  scroll-padding-top: var(--toolbar-height);
}

/* TOOLBAR */
.toolbar {
  position: sticky;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 100%;
  min-height: var(--toolbar-height);
  margin: 0;
  padding: 0 1.5rem;
  scroll-snap-align: start;
  background: #000;
  border-bottom: 1px solid #fff2;
  transition: 0.2s ease-out;
}
.toolbar h1 {
  margin: 0;
  line-height: 1;
  font-size: 1.125rem;
  font-weight: 700;
  transition: 0.2s ease-out;
  will-change: opacity, transform;
}
.toolbar--colapsed {
  opacity: 0;
}
.toolbar--colapsed h1 {
  transform: translateY(50%);
}

/* CONTENT */
.page__header {
  margin: 0;
  padding: 1.25rem 1.5rem;
}
.page__header h1 {
  margin: 0;
  line-height: calc(1em + 0.25rem);
}

.content {
  scroll-snap-align: start;
  padding-bottom: 1.5rem;
}
.container {
  padding: 0 1.5rem;
}

/* MODAL */
.modal {
  position: absolute;
  top: calc(100vh + 1px);
  z-index: 10;
  height: calc(100vh - 1rem);
  background: #333;
  border-radius: 1rem 1rem 0 0;
  transition: 0.5s ease-in-out;
  will-change: transform;
}
.modal:not(:target) {
  z-index: -1;
}
/* .modal:not(:target) { */
  /* pointer-events: none; */
  /* opacity: 0; */
/* } */
.modal::before {
  position: relative;
  z-index: 30;
  content: "";
  display: block;
  flex-shrink: 0;
  width: 100%;
  height: var(--modal-draggable-drag-height);
  scroll-snap-align: start;
}
.modal::after {
  --width: 2.5rem;
  --height: 0.25rem;
  content: "";
  position: absolute;
  top: calc(var(--modal-draggable-drag-height) / 2 - (var(--height) / 2));
  left: calc(50% - (var(--width) / 2));
  z-index: 20;
  display: block;
  width: var(--width);
  height: var(--height);
  background: #666;
  border-radius: 1rem;
  margin: 0 auto;
}
.modal .toolbar {
  background: #333;
}

.modal--draggable {
  top: calc(100vh - var(--modal-draggable-drag-height));
}
.modal--draggable:not(:target) {
  pointer-events: auto;
  opacity: 1;
}

/* ITEM */
.item {
  position: relative;
  display: flex;
  padding: 0.75rem 1.5rem;
  list-style: none;
  border-top: 1px solid #fff2;
  border-bottom: 1px solid #fff2;
}
.item + .item {
  border-top: 0;
}